.footerContainer {
  background: linear-gradient(180deg, #617bc5, #1e3a8a);
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.Social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%; /* Ensures it fills its parent */
  box-sizing: border-box;
  padding-top: 100px;

}

.Address {
  margin: 5px 0;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;

}

.Icons {
  display: flex;
  gap: clamp(10px, 2vw, 15px);

}

.Icons a {
  color: black; 
  text-decoration: none;
  font-size: 80px;
  display: flex;
  align-items: center;
}

.Icons a:hover{
  background-color: black;
}


.emailBlock {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-top: 50px;
}

.emailLink {
  font-family: 'Poppins';
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.divider {
  width: 70%;
  height: 8px;
  background-color: black;
  margin-top: auto;
}
.istefoot{
  width: 100%;
  height: 500px;
  text-align: center;
  overflow: hidden;
}
.istelogo { 
  width: clamp(641px, 60%, 800px);
  height: 100%;
}

@media (max-width:900px){
  .istelogo{
    width: 600px;
  }
  .istefoot{
    height: 460px;
  }
}


@media (max-width: 700px) {
.emailLink {
font-size: 20px;
}
.Icons a {
font-size: 50px;
}
.Address {
font-size: 17px;
}
.Social {
padding-top: 50px;
}
.istefoot{
  height: 400px;
} 

.istelogo { 
  width: 90%;
}




}

@media (max-width:400px) {
  .istefoot{
  height: 300px;
} 
  .istelogo { 
    width: 80%;
  }
  
}