.footerContainer {
  background: linear-gradient(180deg, #617bc5, #1e3a8a);
  width: 100vw;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.Social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%; /* Ensures it fills its parent */
  box-sizing: border-box;
  padding-top: 200px;

}

.Address {
  margin: 5px 0;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;

}

.Icons {
  display: flex;
  gap: clamp(10px, 2vw, 15px);

}

.Icons a {
  /* FIX: Changed color from black to white for better contrast */
  color: black; 
  text-decoration: none;
  font-size: 80px;
  display: flex;
  align-items: center;
}


.emailBlock {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-top: 100px;
}

.emailLink {
  font-family: 'Poppins';
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.divider {
  width: 60%;
  height: 8px;
  background-color: black;
  margin-top: auto;
}
.istefoot{
  width: 100vw;
  text-align: center;
  overflow: hidden;
}
.istelogo { 
  width: 90%;
  transform: translateY(10px);
}
@media (max-width: 1100px) {



}
