@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@font-face {
    font-family: 'Impact';
    src: url('/impact.ttf') format('truetype');
}

body {
    margin: 0px !important;
    padding: 0px !important;
}

.gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.gallery .title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 200px;
}

.gallery .title .gallery-title {
    font-family: 'Impact', sans-serif !important;
    display: flex !important;
    justify-content: right !important;
    align-items: end !important;
    color: #1E3A8A !important;
    font-size: 7.5vw !important;
    font-weight: 300 !important;
}

.gallery .title .bar-con {
    display: flex;
    align-items: end;
}

.gallery .title::after {
    content: "";
    flex: 1;
    height: 13px;
    height: 1vw !important;
    background-color: #1E3A8A;
    margin-bottom: 1.6vw;
    margin-left: 13px;
}

.gallery .image-frames {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.gallery .image-frames .frame {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.gallery .image-frames .frame img {
    width: 27vw;
}

.gallery .image-frames {
    transform: scale(1);
}

.gallery .image-frames .frame img:hover {
    transform: translateY(-3px);
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}



@media (max-width: 900px) {
.gallery {
    padding: 0px 40px;
}   

}

@media (max-width: 700px) {
.gallery {
    padding: 0px 30px;
}
.gallery .title {
    margin-top: 150px;
}
.gallery .title .gallery-title {
    font-size: 9.5vw !important;
}
.gallery .image-frames .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.gallery .image-frames .frame img {
    width: 60vw;
}



}

@media (max-width: 400px) {
.gallery {
    padding: 0px 20px;
}
.gallery .title {
    margin-top: 150px;
}
.gallery .title .gallery-title {
    font-size: 13vw !important;
}
.gallery .image-frames .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.gallery .image-frames .frame img {
    width: 70vw;
}



}