.navbar {
    background: #555;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    transform: translateY(0);
    transition: transform 0.4s ease-in-out;

}
.navbar.hide {
    transform: translateY(-100%);
}

.navbar ul {
    padding: 10px 30px;
}

.navbar ul li {
    display: inline-block;
    padding: 5px 5px;
    margin: 0 10px;
}

li .link {
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 30px;
}

li .link:hover {
    background-color: black;
    text-decoration: underline;
}

li .link:active {
    background-color: black;
    transform: perspective(20px) translate3d(0px, -1.5px, -1px);
}

li:active {
    text-decoration: underline;
}

.link:global(.active) {
    background-color: black;
}



.brandcontainer {
    display: flex;
    gap: 10px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .navbar {
        background: #555;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
}