.navbar {
    background: #555;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    transform: translateY(0);
    transition: transform 0.4s ease-in-out;
}

/* auto hide navbar */
.navbar.hide {
    transform: translateY(-100%);
}

.hamburger {
    display: none;
    font-size: 35px;
    margin-right: 25px;
    color: white;
    cursor: pointer;
}

.navbar ul {
    padding: 10px 10px;
}

.navbar ul li {
    display: inline-block;
    padding: 5px 5px;
    margin: 0 10px;
}

li .link {
    color: white;
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 25px;
}



li .link:hover {
    background-color: black;
    text-decoration: underline;
}

li .link:active {
    background-color: black;
    transform: perspective(20px) translate3d(0px, -1.5px, -1px);
}

li:active {
    text-decoration: underline;
}

.link:global(.active) {
    background-color: black;
}



.brandcontainer {
    display: flex;
    gap: 10px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
}

@media (max-width: 900px){
    .navbar ul {
        padding: 0px 0px;
    }
    li .link {
        padding: 5px 15px;
    }
    .navbar ul li {
        margin: 0 5px;
    }
    
}

@media (max-width: 700px) {
    .navbar {
        padding: 15px 15px;

    }
    .hamburger {
        display: block;
    }

    .navbar ul {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 90%;
        background: #444;
        text-align: center;
        padding: 10px 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transform-origin: top; 
        transform: translateX(-50%) scaleY(0);
        transition: transform 0.3s ease-in-out;
    }

    ul.showMenu {
        transform: translateX(-50%) scaleY(1);
    }
    .navbar ul li {
        width: 95%;
        margin: 5px 0;
    }
    .navbar li .link {
        display: block;  
    }
}

@media(max-width:400px){
    .navbar {
        padding: 10px 15px;

    }

}