@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@font-face {
    font-family: 'Impact';
    src: url('/impact.ttf') format('truetype');
}

body {
    margin: 0px !important;
    padding: 0px !important;
}

.team {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;

}

.team .title .team-title {
    font-family: 'Impact', sans-serif !important;
    width: 45vw !important;
    display: flex !important;
    justify-content: right !important;
    align-items: end !important;
    color: #151617 !important;
    font-size: 7.5vw !important;
    font-weight: 300 !important;
}

.team .title .bar-con {
    display: flex;
    align-items: end;
}

.team .title .title-bar {
    width: 45vw;
    height: 13px;
    height: 1vw !important;
    background: linear-gradient(to right, #151617, #698CF5);
    margin-bottom: 1.6vw;
    margin-left: 13px;
}

.team .image-frames{
    width: 100%;
    height: 100%;
    margin: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team .image-frames .frame {
  display: flex;
  gap: 30px;
  transition: transform .4s ease-in;
}

.team .image-frames .frame img:hover {
  transform: translateY(-3px);
}

.team .image-frames img {
  height: 35vw;
  cursor: pointer;
}

.team .image-frames .image-ani {
  opacity: 0.8;
  transform: scale(0.9);
  filter: blur(3px);
  animation: reveal 1.2s ease forwards;
}

@keyframes reveal {
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}


@media (max-width: 900px) {
  
}

@media (max-width: 700px) {

}

@media (max-width: 400px) {

}