*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.navbar{
  background: #555;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  
  
}
@media (max-width:500px ) {
   .navbar{
  background: #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

   }


    
}

.navbar ul {
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(214, 51, 51, 0.1);
}
.navbar ul li{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: underline;
    
    
    
   
}
.container{
    display: block;
    width: 100%;
    min-height: auto;
}
.container h1{
    font-size: 70px;
    font-weight: 500;

}
a{
    color: white
}
a:hover{
    background-color:black;
    border-radius: 5px;
    padding: 0.3rem 0.3rem;
}
a.active{

    background-color: black;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    
    

}
.brand {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  
  
  
}
.brand-container{
  display: flex;
  gap: 10px;  
}
