*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    display: block;
    width: 100%;
    min-height: auto;
}
.container h1{
    font-size: 70px;
    font-weight: 500;

}